{% extends 'base.html.twig' %}

{% block title %}DressMeUp - Accessibilité{% endblock %}

{% block body %}
	<div class="not-found d-flex justify-content-around" style="background-color: rgb(235, 234, 237);">
        <img src="/assets/img/glow.gif" alt="Erreur 404 - Page non trouvée">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h1 class= text-align: center>Oups !</h1>
            <p class="not-found">Il semblerait que la page que vous recherchez ne soit plus au goût du jour. Tout comme les   ballerines.</p>
        </div>
    </div>
{% endblock %}
