{% extends 'base.html.twig' %}

{% block title %}DressMeUp - Ajouter un vêtement{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

        <h1>Ajoutes un vêtement</h1>
        

        
       {#  {{ include('/modals/modal-dressing.html.twig') }} #}



{% endblock %}
{% block javascripts %}
    <script src="assets/js/loadDressing.js" type="text/javascript"></script>
    <script src="assets/js/pipette.js" type="text/javascript"></script>
    <script src="assets/js/dragAndDrop.js" type="text/javascript"></script>
    <script src="assets/js/kmeans.js" type="text/javascript"></script>
    <script src="assets/js/colorName.js" type="text/javascript"></script>
    <script src="assets/js/switchDressing.js" type="text/javascript"></script>
    <script src="assets/js/deleteOneCloth.js" type="text/javascript"></script>
    <script src="assets/js/modal.js" type="text/javascript"></script>
    <script src="assets/js/formAuto.js" type="text/javascript"></script>
{% endblock %}