* {
    box-sizing: border-box;
    outline: none;
}

.container {
    max-width: 1048px;
    margin: auto;
}

main {
    margin-top: auto;
}

img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    /*border-radius: 50px;
     border: 5px solid; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
}

#cards {
    flex-direction: column;
    margin: 100px;
    display: flex;
    justify-content: space-between;
}

.workspace {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.innerWorkspace {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
}

.workspace button {
    margin: 10px;
    background-color: rgb(155, 9, 9);
    border: 2px solid rgb(155, 9, 9);
    color: white;
}

.workspace button:hover {
    background-color: rgb(218, 18, 18);
    border: 2px solid rgb(218, 18, 18);
}

.workspace button:active {
    background-color: white;
    color: rgb(218, 18, 18);
}

#links {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(155, 9, 9);
    border: 2px solid rgb(155, 9, 9);
}

#links:hover {
    background-color: rgb(218, 18, 18);
    border: 2px solid rgb(218, 18, 18);
}

#links a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

@keyframes OpenCard {
    from {
        transform: rotateY(-180deg);
        opacity: 0;
    }

    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes CloseCard {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }

    to {
        transform: rotateY(180deg);
        opacity: 0;
    }
}

.innerWorkspace .img-open {
    position: absolute;
    opacity: 1;
    z-index: 1;
    
}

.innerWorkspace .img-close {
    z-index: 0;
    opacity: 0;
    
}

/* Ensuite il faut appliquer l'animation au cube */
.innerWorkspace .img-anim-open {
    animation-name: OpenCard;
    /* durée */
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

/* Ensuite il faut appliquer l'animation au cube */
.innerWorkspace .img-anim-close {
    animation-name: CloseCard;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

/* DRAG AND DROP */
body {
    min-height: 600px;
}

div#depose {
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    color: #999;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px dashed #999;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

div#depose.onDropZone {
    color: #000;
    border: 5px solid #6f6;
    padding: 7px;
}

div.bloc {
    padding: 5px;
    border: 1px solid #aaa;
    margin: 10px;
}

div#preview {
    display: none;
}

div.fichier {
    padding: 5px;
    background: #ccc;
    margin-top: 1px;
}

div.fichier img {
    max-height: 150px;
    max-width: 150px;
    margin-right: 10px;
    vertical-align: middle;
} */

/* CANVAS */
#canvas{
    width: 450px;
    height: 450px;
   border: 1px solid red;
} 
