{# MODAL HOME #}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-content-home">
        <div class="modal-header-home border-bottom-0 text-center"></div>
        <div id="modalbackground" class="container">
          <div class="row">
            <div class="modal-body col-6">
              <h3>OUPS !</h3>
              <p>Tu n’as pas encore ajouté de vêtements dans ton dressing</p>
              <a href="{{ path('app_dressing') }}"><button type="button" class="btn-dressing btn-secondary">Aller sur mon dressing</button></a>
            </div>
            <div class="modal-footer border-top-0"></div>
          </div>
        </div>
    </div>
  </div>
</div>
