{% extends 'base.html.twig' %}

{% block title %}DressMeUp - Dressing{% endblock %}

{% block stylesheets %}
{#     <link rel="stylesheet" href="/assets/css/modal.css">
    <link rel="stylesheet" href="/assets/css/canvas.css"> #}
{% endblock %}

{% block body %}
        <section id="dressing">
            <h1>Mon dressing</h1>
            <h4>Sélectionne ta catégorie</h4>
            <div id="type-selection">
                    <input type="radio" name="type" id="haut" autocomplete="off" list>
                    <label for="haut">Haut</label>
                    <input type="radio" name="type" id="bas" autocomplete="off">
                    <label for="bas">Bas</label>
            </div>
            <a href="{{ path('app_vetement')}}">
                <div class="add">
                    <img src="/assets/img/add-icon.svg" alt="Ajouter un vêtement" srcset="">
                </div>
            </a>
        </section>
        <section id="dressing-content" data-type="Haut">
            
        </section>
        
        
       {#  {{ include('/modals/modal-dressing.html.twig') }} #}



{% endblock %}
{% block javascripts %}
    <script src="assets/js/loadDressing.js" type="text/javascript"></script>
    <script src="assets/js/switchDressing.js" type="text/javascript"></script>
    <script src="assets/js/deleteOneCloth.js" type="text/javascript"></script>
{% endblock %}
